* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    align-items: center;
    background-color: #6B7FD7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1
{
    position: absolute;
    left : 50%;
    transform: translate(-50%);
}

nav
{
    width: 25%;
    user-select: none;
}

nav ul
{
    padding: 5%;
}

nav ul li
{
    display: flex;
    align-items: center;
    padding: 3%;
}

nav ul li:hover
{
    background-color: #BCEDF6;
}

a
{
    color: white;
}

a:hover
{
    color: black;
}

main
{
    margin: 5%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 4px;
}

p
{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input
{
    padding: 2% 4%;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
}

button
{
    background-color: #6B7FD7;
    color: white;
    border-style: none;
    border-radius: 4px;
    width: 8em;
    height: 2em;
}

table {
    text-align: center;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

table thead th {
    background-color: #BCEDF6;
    border: solid 1px #DDEEEE;
    color: #6B7FD7;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}